///
// Color wheel
///

@darkTheme1: white;
@darkTheme2: #d9B310;
@darkTheme3: #328cc1;
@darkTheme4: #0b3c5d;
@darkTheme5: #1d2731;


///
// Variables
///

@darkThemeBg: @darkTheme4;
@darkThemeFg: @darkTheme1;
@darkThemeHeaderBg: @darkTheme5;
@darkThemeHeaderFg: @darkTheme2;
@darkThemeHeaderLinks: @darkTheme3;
@darkThemeProfilePanelBtnBg: @darkTheme1;
@darkThemeProfilePanelBtnFg: @darkTheme5;
@darkThemeItemBorder: @darkTheme3;
@darkThemeContentBg: @darkTheme4;
@darkThemeContentFg: @darkTheme1;

@darkThemeListItemBg: @darkTheme3;
@darkThemeListItemBgClear: rgba(50, 140, 193, 0);
@darkThemeListItemFg: @darkTheme1;
@darkThemeListItemBorder: @darkTheme5;
@darkThemeListItemBtnBg: inherit;
@darkThemeListItemBtnFg: @darkTheme1;
@darkThemeListItemLogoBg: @darkTheme1;
@darkThemeListItemLogoFg: @darkTheme4;
@darkThemeListItemTSLogoBorder: @darkTheme3;

@darkThemeAltBg: @darkTheme3;
@darkThemeAltFg: @darkTheme3;
@darkThemeAltBorder: @darkTheme3;

@darkThemeImagiconBg: rgba(238, 238, 238, 0.7);
@darkThemeImagiconFg: @darkTheme5;
@darkThemeImagiconBorder: @darkTheme3;


///
// Dark theme namespace
///

#dark-theme {
	.bg {
		background: @darkThemeBg;
	}

	.fg {
		color: @darkThemeFg;
	}

	.alt-bg {
		background: @darkThemeAltBg;
	}

	.alt-fg {
		color: @darkThemeAltFg;
	}

	.alt-border {
		border-color: @darkThemeAltBorder;
	}

	.header-bg {
		background: @darkThemeHeaderBg;
	}

	.header-fg {
		color: @darkThemeHeaderFg;
	}

	.header-links {
		color: @darkThemeHeaderLinks;
	}

	.profile-panel-btn-bg {
		background: @darkThemeProfilePanelBtnBg;
	}

	.profile-panel-btn-fg {
		color: @darkThemeProfilePanelBtnFg;
	}

	.item-border {
		border-color: @darkThemeItemBorder;
	}

	.content-bg {
		background: @darkThemeContentBg;
	}

	.content-fg {
		color: @darkThemeContentFg;
	}

	.list-item-bg {
		background: @darkThemeListItemBg;
	}

	.list-item-fg {
		color: @darkThemeListItemFg;
	}

	.list-item-border {
		border-color: @darkThemeListItemBorder;
	}

	.list-item-btn-bg {
		background: @darkThemeListItemBtnBg;
	}

	.list-item-btn-fg {
		color: @darkThemeListItemBtnFg;
	}

	.list-item-logo-bg {
		background: @darkThemeListItemLogoBg;
	}

	.list-item-logo-fg {
		color: @darkThemeListItemLogoFg;
	}

	.list-item-ts-logo-border {
		border-color: @darkThemeListItemTSLogoBorder;
	}

	.imagicon-bg {
		background: @darkThemeImagiconBg;
	}

	.imagicon-fg {
		color: @darkThemeImagiconFg;
	}

	.imagicon-border {
		border-color: @darkThemeImagiconBorder;
	}

	.imagicon-spinner {
		background: @darkThemeImagiconFg;
	}

	.multiline-ellipse (@lines:3, @lineHeight:16) {
		.multiline-ellipsis(@lines, @lineHeight, @darkThemeListItemBgClear, @darkThemeListItemBg);
	}
}
