///
// Color wheel
///

@lightTheme1: white;
@lightTheme2: #bbb;
@lightTheme3: #999;
@lightTheme4: #666;
@lightTheme5: #000;


///
// Variables
///

@lightThemeItemBorder: @lightTheme2;

///
// Styles
///

