.serif-font {
  font-family: 'Lora', serif;
}
.sans-font {
  font-family: 'Open Sans', sans-serif;
}

html, body, body > #root, body > #root > div {
	min-height: 100vh;
}

body {
  margin: 0;
  padding: 0;
	min-height: 100%;

  .serif-font;
}

h1, h2, h3, h4, h5, h6, button, .control-label, .form-control {
  .sans-font;
}

.tabsets-logo {
	display: inline-block;
	padding-left: 3px;
	padding-right: 3px;
	margin-left: 8px;
	border-style: solid;
	border-color: @darkThemeLogoFg;
	border-left-width: 1px;
	border-right-width: 1px;
	border-top-width: 1px;
	border-bottom-width: 0;
	border-radius: 3px;
	.sans-font;
}

.overflow-ellipse {
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
	width: 100%;
}

.icon-menu {
	border: 0;
	padding: 0;
	background: inherit;
}
