.cards-list {
	width: 100%;
	padding: 0;

	.cards-list-category {
		display: block;
		list-style-type: none;
		width: 100%;

		& > .title {
			margin-left: 6px;
			width: 100%;
			padding-bottom: 8px;
			border-bottom: 1px solid rgba(255, 255, 255, 0.4);
			font-style: italic;
			opacity: 0.8;
		}

		& > ul {
			padding: 0;
			margin: 0;
		}
	}

	.cards-list-item-outer {
		position: relative;
		display: inline-block;
		width: 25%;
		list-style-type: none;

		& > a {
			position: absolute;
			width: ~"calc(100% - 26px)";
			height: 90px;
			z-index: 2;
			text-decoration: none;
		}

		.cards-list-item-inner {
			display: inline-block;
			position: relative;
			width: ~"calc(100% - 10px)";
			height: 90px;
			padding: 7px;
			margin-left: 5px;
			margin-right: 5px;
			margin-bottom: 10px;
			border-radius: 10px;
			text-align: center;

			.logo-container {
				width: 56px;
				height: 56px;
				padding: 4px;
				margin-bottom: 4px;
				margin-left: ~"calc(50% - 29px)";
				border-radius: 4px;
				text-align: center;
				vertical-align: center;

				.logo {
					width: 48px;
					height: 48px;
				}
			}

			.text-container {
				.title {
				}

				.contents {
				}
			}
		}

		&.width-2x {
			width: 50%;
		}

		&.horizontal {
			& > a {
				height: 72px;
			}

			.cards-list-item-inner {
				height: 72px;
				text-align: left;

				.logo-container {
					display: inline-block;
					margin-left: 6px;
					overflow: hidden;
					vertical-align: top;

					.logo {
					}
				}

				.text-container {
					display: inline-block;
					margin-top: 4px;
					margin-left: 10px;
					width: ~"calc(100% - 82px)";
					text-align: left;
					vertical-align: top;

					.title {
						display: inline-block;
					}

					.contents {
						display: inline-block;
						font-style: italic;
						width: 100%;
					}
				}
			}
		}
	}
}

.cards-list .cards-list-item-outer .buttons-list {
	position: absolute;
	top: 4px;
	right: 4px;
	width: 16px;
	display: block;
	padding: 0;
	border-radius: 6px;
	text-align: right;
	z-index: 3;

	.buttons-list-item {
		display: inline-block;
		padding: 0;
		padding-bottom: 3px;
		list-style-type: none;
	}

	.buttons-list-menu {
		display: inline-block;
		list-style-type: none;

		.sans-font;

		.menu-item {
			.icon {
				display: inline-block;
				width: 20px;
			}

			.title {
				display: inline-block;
			}
		}

		ul.dropdown-menu {
			left: auto;
			right: 0;
		}
	}
}

.cards-list.theme-dark {
	.cards-list-item-outer {
		.cards-list-item-inner {
			#dark-theme.list-item-fg;
			#dark-theme.list-item-bg;
			#dark-theme.list-item-border;

			.logo-container {
				#dark-theme.list-item-logo-bg;
				#dark-theme.list-item-logo-fg;
			}
		}

		.buttons-list {
			#dark-theme.list-item-btn-bg;
			#dark-theme.list-item-btn-fg;

			.buttons-list-menu .dropdown > button {
				#dark-theme.list-item-btn-bg;
				#dark-theme.list-item-btn-fg;
			}
		}
	}
}

.cards-list.theme-light {
	.cards-list-item-outer {
		.cards-list-item-inner {
			#light-theme.list-item-fg;
			#light-theme.list-item-bg;
			#light-theme.list-item-border;

			.logo-container {
				#light-theme.list-item-logo-bg;
				#light-theme.list-item-logo-fg;
			}
		}

		.buttons-list {
			#light-theme.list-item-btn-bg;
			#light-theme.list-item-btn-fg;

			.buttons-list-menu .dropdown > button {
				#light-theme.list-item-btn-bg;
				#light-theme.list-item-btn-fg;
			}
		}
	}
}

