.ts-form {
	.logo-section {
		width: 30%;
		display: inline-block;
		vertical-align: top;
		padding-right: 10px;
	}

	.info-section {
		width: 70%;
		display: inline-block;
		vertical-align: top;
	}
}

.clickable {
	cursor: pointer;
}
