.app-header-container {
	@headerHeight: 47px;

	.app-header {
		position: fixed;
		height: @headerHeight;
		width: 100%;
		z-index: 10;
		background: black;
		color: white;
	}

	.app-header-spacer {
		height: @headerHeight;
		width: 100%;
	}
}
