.imagicon {
	position: relative;

	.imagicon-inner {
		.image {
			width: 100%;
		}

		.icon {
			width: 100%;
		}

		.title {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
		}
	}

	&.has-title {
		border-radius: 15px;

		#light-theme.list-item-border;

		.title {
			border-bottom-left-radius: 15px;
			border-bottom-right-radius: 15px;
			text-align: center;
			font-size: 10px;

			#light-theme.list-item-fg;
			#light-theme.list-item-bg;
			.sans-font;
		}
	}

	&.size-s {
		.icon {
			font-size: 14px;
		}
	}

	&.size-m {
		.icon {
			font-size: 14px;
		}
	}

	&.size-l {
		.icon {
			font-size: 14px;
		}
	}

	&.size-xl {
		.icon {
			font-size: 14px;
		}
	}

	&.size-2x {
		.icon {
			font-size: 14px;
		}
	}

	&.size-3x {
		.icon {
			font-size: 14px;
		}
	}
}
