.item-panel {
	.item-panel-header {
		position: relative;
		border-bottom: 1px solid @lightThemeItemBorder;
		padding-bottom: 10px;
		margin-bottom: 0;

		.logo-container {
			display: inline-block;
		}

		.title {
			display: inline-block;
			margin-right: 20px;
			margin-left: 20px;
		}

		.other {
			.pull-right;

			.category-name {
			}

			.addons {
				margin-left: 15px;
				display: inline-block;

				button {
					margin-left: 5px;
				}
			}
		}
	}

	.item-panel-notifications {
		position: relative;
		height: 16px;

		.notifications-list {
			z-index: 10;
			position: absolute;
			width: 100%;

			.notifications-list-item {
				border-radius: 0;
				margin-bottom: 0;

				&:last-child {
					border-bottom-left-radius: 4px;
					border-bottom-right-radius: 4px;
				}
			}
		}
	}

	.item-panel-section {
		.section-header {
			margin-top: 20px;
			margin-left: 8px;

			h3 {
				margin-top: 0;
			}
		}

		.section-body {
		}
	}
}

