.item-panel {
	.item-panel-header {
		border-bottom: 1px solid @lightThemeItemBorder;
		padding-bottom: 10px;

		.logo-container {
			display: inline-block;
		}

		.title {
			display: inline-block;
			margin-right: 20px;
			margin-left: 20px;
		}

		.category-name {
			margin-right: 20px;
			margin-top: 12px;


			.pull-right;
		}
	}
}
