.item-panel {
	.item-panel-header {
		position: relative;
		border-bottom-width: 1px;
		border-bottom-style: solid;
		padding-bottom: 10px;
		margin-bottom: 0;

		#light-theme.item-border;

		.logo-container {
			display: inline-block;
		}

		.title {
			display: inline-block;
			margin-right: 20px;
			margin-left: 20px;
		}

		.other {
			.pull-right;

			.category-name {
			}

			.addons {
				margin-left: 15px;
				display: inline-block;

				button {
					margin-left: 5px;
				}
			}
		}
	}

	.item-panel-notifications {
		position: relative;
		height: 16px;

		.notifications-list {
			position: absolute;
			width: 100%;
		}
	}

	.item-panel-section {
		.section-header {
			margin-top: 20px;
			margin-left: 8px;

			h3 {
				margin-top: 0;
			}
		}

		.section-body {
		}
	}
}


///
// Light theme
///

.item-panel .item-panel-header {
	#light-theme.item-border;
}
