.side-panel {
	height: ~"calc(100vh - 47px)";
	position: fixed;
	right: 0;
	top: 47px;
}

.overview-panel {
	.overview-panel-item {
		.item-header {
			position: relative;
			padding-top: 12px;
			padding-bottom: 8px;
			border-bottom-width: 1px;
			border-bottom-style: solid;

			.expander-button {
				border: 0;
				background: none;
				vertical-align: top;
				width: 20px;
				margin-right: 10px;
				position: relative;
				top: -2px;

				&:disabled {
					.disabled-fg;
				}
			}

			.item-icon {
				display: inline-block;
				width: 24px;
				margin-right: 10px;
				text-align: right;

				.tabsets-logo {
					font-size: 14px;
					margin: 0;
				}
			}

			.item-title {
				margin: 0;
				display: inline-block;
				cursor: pointer;
				width: ~"calc(100% - 65px)";
			}

			.add-button {
				position: absolute;
				right: 0;
				top: 8px;
				padding-top: 4px;
				padding-bottom: 2px;
				padding-left: 8px;
				padding-right: 8px;
			}
		}

		.item-content {
			border: 0;
			border-radius: 0;
			box-shadow: none;
			margin-bottom: 0;

			.panel-body {
				overflow: auto;
				height: ~"calc(100vh - 47px - 4 * 46px)";
				border-bottom-width: 1px;
				border-bottom-style: solid;
			}
		}

		.panel-notifications .notifications-list {
			position: relative;
			height: 26px;

			.notifications-list-item {
				position: absolute;
				top: -15px;
				left: -15px;
				width: ~"calc(100% + 30px)";
			}
		}
	}

	.overview-panel-item.selected {
		.item-icon {
		}
	}

	.cards-list {
		margin-bottom: 16px;

		.cards-list-category {
			margin-top: 26px;
		}

		.cards-list-item-outer .logo-container {
			.fa-user-circle {
				margin-top: 3px;
			}

			.fa-id-card {
				margin-top: 3px;
			}

			.fa-user-secret {
				display: inline-block;
				margin-left: 2px;
				margin-top: 4px;
			}

			.tabsets-logo {
				font-size: 22px;
				margin: 0;
				margin-top: 6px;
				border-left-width: 2px;
				border-top-width: 2px;
				border-right-width: 2px;
			}
		}
	}

	&.panel-height-0 {
		.item-content .panel-body {
			height: 0;
		}
	}
	&.panel-height-1 {
		.item-content .panel-body {
			height: ~"calc(100vh - 47px - 4 * 46px)";
		}
	}
	&.panel-height-2 {
		.item-content .panel-body {
			height: ~"calc((100vh - 47px - 4 * 46px) / 2)";
		}
	}
	&.panel-height-3 {
		.item-content .panel-body {
			height: ~"calc((100vh - 47px - 4 * 46px) / 3)";
		}
	}
	&.panel-height-4 {
		.item-content .panel-body {
			height: ~"calc((100vh - 47px - 4 * 46px) / 4)";
		}
	}
}


///
// Dark Theme
///

.side-panel.dark-theme {
	#dark-theme.bg;
}

.dark-theme .overview-panel {
	.overview-panel-item {
		.item-header {
			#dark-theme.fg;
			#dark-theme.item-border;

			.item-icon {
				#dark-theme.alt-fg;

				.tabsets-logo {
					#dark-theme.alt-border;
				}
			}

			.add-button {
				#dark-theme.alt-bg;
				#dark-theme.fg;
				#dark-theme.list-button-border;
			}
		}

		.item-content {
			#dark-theme.content-bg;
			#dark-theme.content-fg;

			.panel-body {
				#dark-theme.item-border;
			}
		}

		.panel-notifications .notifications-list {
			.notifications-list-item.alert-success {
				#dark-theme.alert-success;
			}
		}
	}

	.overview-panel-item.selected {
		.item-icon {
			#dark-theme.fg;
		}
	}

	.cards-list .cards-list-item-outer .logo-container {
		.tabsets-logo {
			#dark-theme.list-item-ts-logo-border;
		}
	}
}
