.side-panel {
	height: ~"calc(100vh - 47px)";
	position: fixed;
	right: 0;
	top: 47px;
	overflow: auto;
}

.overview-panel {
	.overview-panel-item {
		.item-header {
			position: relative;
			padding-top: 12px;
			padding-bottom: 8px;
			border-bottom-width: 1px;
			border-bottom-style: solid;

			.expander-button {
				border: 0;
				background: none;
				vertical-align: top;
				width: 20px;
				margin-right: 10px;
				position: relative;
				top: -2px;

				&:disabled {
					.disabled-fg;
				}
			}

			.item-icon {
				display: inline-block;
				width: 24px;
				margin-right: 10px;
				text-align: right;

				.tabsets-logo {
					font-size: 14px;
					margin: 0;
				}
			}

			.item-title {
				margin: 0;
				display: inline-block;
				cursor: pointer;
				width: ~"calc(100% - 65px)";
			}

			.add-button {
				position: absolute;
				right: 0;
				top: 8px;
				padding-top: 4px;
				padding-bottom: 2px;
				padding-left: 8px;
				padding-right: 8px;
				border-color: black; // TODO - Move to theme
			}
		}

		.item-content {
			border: 0;
			border-radius: 0;
			box-shadow: none;
			margin-bottom: 0;

			.panel-body {
				border-bottom-width: 1px;
				border-bottom-style: solid;
			}
		}

		.panel-notifications {
			margin-left: 5px;
			margin-right: 5px;

			.alert.alert-success {
				background: white;
				color: black;
			}
		}
	}

	.overview-panel-item.selected {
		.item-icon {
		}
	}

	.cards-list .cards-list-item-outer .logo-container {
		.fa-user-circle {
			margin-top: 3px;
		}

		.fa-id-card {
			margin-top: 3px;
		}

		.fa-user-secret {
			display: inline-block;
			margin-left: 2px;
			margin-top: 4px;
		}

		.tabsets-logo {
			font-size: 22px;
			margin: 0;
			margin-top: 6px;
			border-left-width: 2px;
			border-top-width: 2px;
			border-right-width: 2px;
		}
	}
}


///
// Dark Theme
///

.side-panel.dark-theme {
	#dark-theme.bg;
}

.overview-panel {
	.overview-panel-item {
		.item-header {
			#dark-theme.fg;
			#dark-theme.item-border;

			.item-icon {
				#dark-theme.alt-fg;

				.tabsets-logo {
					#dark-theme.alt-border;
				}
			}

			.add-button {
				#dark-theme.alt-bg;
				#dark-theme.fg;
			}
		}

		.item-content {
			#dark-theme.content-bg;
			#dark-theme.content-fg;

			.panel-body {
				#dark-theme.item-border;
			}
		}
	}

	.overview-panel-item.selected {
		.item-icon {
			#dark-theme.fg;
		}
	}

	.cards-list .cards-list-item-outer .logo-container {
		.tabsets-logo {
			#dark-theme.list-item-ts-logo-border;
		}
	}
}
